<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3.dtd">
<mapper namespace="com.oracle.group3.dao.DoctorMapper">
	<resultMap type="com.oracle.group3.domain.ZrDoctor" id="doctor_map">
	</resultMap>

	<!-- public List<ZrDoctor> getDoctorsDefault(); -->
	<select id="getDoctorsDefault" resultType="ZrDoctor">
		select * from zr_doctor
	</select>

	<!-- public ZrDoctor getDoctorById(int did); -->
	<select id="getDoctorById" resultType="ZrDoctor">
		select * from zr_doctor where doctor_id=#{0}
	</select>


	<!-- public List<ZrDoctor> getDoctorsByArea(String city); -->
	<select id="getDoctorsByArea" resultType="ZrDoctor">
		select zd.doctor_id,zd.doctor_name,zd.doctor_gender,
		zd.doctor_age,zd.doctor_introduction,zd.doctor_graduatedoctor_school,
		zd.doctor_email,zd.doctor_dictatorship,zd.doctor_photo,
		zd.doctor_hospital_id,zd.doctor_section,zd.doctor_level,
		zd.doctor_isfamily from country_city cc, doctor_address da,zr_doctor zd where
		cc.city=#{0} and cc.country_city_id=da.country_city_id and da.doctor_id=zd.doctor_id;
	</select>
	<!-- public List<ZrDoctor> getDoctorsByPart(String content); -->
	<select id="getDoctorsByPart" resultType="ZrDoctor">
		select  zd.doctor_id,zd.doctor_name,zd.doctor_gender,
		zd.doctor_age,zd.doctor_introduction,zd.doctor_graduatedoctor_school,
		zd.doctor_email,zd.doctor_dictatorship,zd.doctor_photo,
		zd.doctor_hospital_id,zd.doctor_section,zd.doctor_level,
		zd.doctor_isfamily from parts_content pc,parts_doctor pd,
		zr_doctor zd where pc.content=#{0} and
		pc.parts_id=pd.parts_id and pd.doctor_id=zd.doctor_id
	</select>
</mapper>