<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3.dtd">
 
<mapper namespace="com.oracle.group3.dao.HabitRecordMapper">
<resultMap type="com.oracle.group3.domain.HabitRecord" id="habitrecord">  
  </resultMap> 
  <insert id = "insertHabit">
  insert into habit(uid,habit)
  values(#{0},#{1});
  </insert>
 <select id = "getHabitRecordById" resultMap = "habitrecord">
 select * from habit
 where uid = #{0};
 </select>
 <select id = "getHabitRecordByDay" resultMap = "habitrecord">
 select * from habit
 <where> 
		recordTime &gt;= #{1} and recordTime &lt;= #{2} and uid=#{0}
</where>
 </select>
 </mapper>