<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3.dtd">
<mapper namespace="com.oracle.group3.dao.HospitalMapper">

	<select id="getHospitalDefault" resultType="ZrHospital">
		select * from zr_hospital;
	</select>

	<!-- public ZrHospital getHospitalById(int hid); -->
	<select id="getHospitalById" resultType="ZrHospital">
		select * from zr_hospital where hospital_id=#{0}
	</select>

	<!-- public List<ZrHospital> getHospitalByArea(String city); -->
	<select id="getHospitalByArea" resultType="ZrHospital">
		select zh.hospital_id,zh.hospital_name,zh.hospital_address,
		zh.hospital_photos,zh.hospital_introduction,zh.hospital_phone
		from country_city cc, hospital_address ha,zr_hospital zh where cc.city=#{0}
		and cc.country_city_id=ha.country_city_id and ha.hospital_id=zh.hospital_id;
	</select>

	<!-- public List<ZrHospital> getHospitalByPart(String content); -->
	<select id="getHospitalByPart" resultType="ZrHospital">
		select  zh.hospital_id,zh.hospital_name,zh.hospital_address,
		zh.hospital_photos,zh.hospital_introduction,
		zh.hospital_phone from parts_content pc,parts_hospital ph,
		zr_hospital zh where pc.content=#{0} and
		pc.parts_id=ph.parts_id and ph.hospital_id=zh.hospital_id
	</select>
</mapper>


