<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3.dtd">
<mapper namespace="com.oracle.group3.dao.PartMapper">
	<!-- public List<String> getAllContents(); -->
	<select id="getAllContents" resultType="String">
		select content from parts_content
	</select>

	<!-- public List<String> getContentsByPart(); -->
	<select id="getContentsByPart" resultType="String">
		select content from parts_content where part=#{0}
	</select>
</mapper>