<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3.dtd">

<mapper namespace="com.oracle.group3.dao.ProjectMessageMapper">
	
	<select id="getProjectName"  parameterType="Integer" resultType="String">
		select project_name from project_message where project_id=#{0};
	</select>
	
	<select id="getProPhotos"  parameterType="Integer" resultType="String">
		select project_photos from project_message where project_id=#{0};
	</select>
	
	<select id="getProIndication"  parameterType="Integer" resultType="String">
		select project_indication from project_message where project_id=#{0};
	</select>
	
	<select id="getProConclusionPhotos"  parameterType="Integer" resultType="String">
		select project_Conclusion_Photos from project_message where project_id=#{0};
	</select>
	
	<select id="getProCharacter"  parameterType="Integer" resultType="String">
		select project_character from project_message where project_id=#{0};
	</select>
	
	<select id="getProNotice"  parameterType="Integer" resultType="String">
		select project_notice from project_message where project_id=#{0};
	</select>
	
	<select id="getProIntroductionWord"  parameterType="Integer" resultType="String">
		select project_introduction_word from project_message where project_id=#{0};
	</select>
	
	<select id="getProIntroductionPictures"  parameterType="Integer" resultType="String">
		select project_introduction_Pictures from project_message where project_id=#{0};
	</select>
	
	<select id="getStrategy_before"  parameterType="Integer" resultType="String">
		select strategy_beforeOperation from project_message where project_id=#{0};
	</select>
	
	<select id="getStrategy_after"  parameterType="Integer" resultType="String">
		select strategy_afterOperation from project_message where project_id=#{0};
	</select>
	
	<select id="getSimilarPro"  parameterType="Integer" resultType="String">
		select similar_Project_id from project_message where project_id=#{0};
	</select>
</mapper>