<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3.dtd">
 
<mapper namespace="com.oracle.group3.dao.RemarkRecordMapper">
<resultMap type="com.oracle.group3.domain.RemarkRecord" id="remarkrecord">  
  </resultMap> 
  <insert id = "insertRemark">
  insert into remark(uid,remark)
  values(#{0},#{1}) 
  </insert>
  
  <select id = "getRemarkRecordById" resultMap = "remarkrecord">
 select * from remark
 <where> 
	uid = #{0}
</where>
 </select>
 
 <select id = "getRemarkRecordByDay" resultMap = "remarkrecord">
 select * from remark
 <where> 
	recordTime &gt;= #{1} and recordTime &lt;= #{2} and uid=#{0}
</where>
 </select>
 </mapper>