<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3.dtd">
 
<mapper namespace="com.oracle.group3.dao.WeightRecordMapper">
<resultMap type="com.oracle.group3.domain.WeightRecord" id="weightrecord">  
  </resultMap> 
  <insert id = "insertWeight">
  insert into weight(uid,weight)
  values(#{0},#{1}) 
  </insert>
 <select id = "getWeightByUid" resultMap = "weightrecord">
 select * from weight
 where uid = #{0}
 </select>
 <select id = "getWeightByDay" resultMap = "weightrecord">
 select * from weight
 <where> 
		recordTime &gt;= #{1} and recordTime &lt;= #{2} and uid=#{0}
</where>
 </select>
 </mapper>